<h1>Sign Up</h1>
<p>We have <%=count%> members... JOIN US!</p>
<p>Enter Email...</p>

<form method="POST" action="/register">
  <input type="text" class="form" name="email" placeholder="Enter Your Email"/>
  <button>Join Now</button>
</form>
